@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family:"Poppins";
}
.rosaparaxoke{
color: white;
}


.canario{
    background-color: #424e61;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.primeira-parte{
    background-image: Linear-gradient(#424e61,#4e8fe9);
    color:white;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 100px;

}
.lista-item{    
    display: inline-block;
    margin: 0 16px;
}
.item-lista-canario{
    color: white;
    display: inline-block;
    margin: 0 16px;
}
.foto-estudante{
    width: 45%;
}
.foto-pain{
    width: 5%;
}
.icone{ 
    width: 5%;
}
.pp{    
    padding: 15px 0;
    font-size: 20px;
    
}
.sp{
    padding: 15px 0;
    font-size: 20px;
}
.texto{ 
    padding: 24px 0;
}